<div class="menu">
    <nav>
      <ul>
          <li><a href="{% url 'view_login' %}">authentication</a></li>
          <li><a href="{% url 'view_cache' %}">cache</a></li>
          <li><a href="{% url 'chartlist_view' %}">chart</a></li>
          <li><a href="{% url 'list_course' %}">crud</a></li>
          <li><a href="{% url 'view_send_mail' %}">emails</a></li>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'invoice_create_view' %}">Inlineform</a></li>
          <li><a href="{% url 'reportsview' %}">reports</a></li>
      </ul>
    </nav>
  </div>